* {
  color: white;
}

h1 {
  font-family: century;
  font-size: 3em;
  padding-left: 10%;
}

h2 {
  font-size: 1em;
  padding-left: 12%;
}

body {
  background-color: black;
  font: white;
}

i {
  color: white;
}

nav {
  display: block;
  float: right;
  height: 2em;
  padding: 10px 100px 10px 10px;
  vertical-align: left;
  font-family: sans-serif;
}

img {
  display: block-inline;
  margin: 2px;
  padding-left: 100px;
  padding-top: 10px;
  width:540px;
  height: auto;
}

@media only screen and (min-width: 640px) {
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }

  @media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }
